#!/bin/bash

GIT_REPO_DIR="{{ workstation_git_repositories['main']['dest'] }}"
ANSIBLE_CMD="/usr/bin/ansible-playbook"
ANSIBLE_PB_NAME="playbook.yml"
ANSIBLE_PB_VARS="workstation_fella={{ workstation_username }}"


cd ${GIT_REPO_DIR} && (git fetch && git reset --hard origin/master) && ${ANSIBLE_CMD} ${ANSIBLE_PB_NAME} -e "${ANSIBLE_PB_VARS}" || ${SHELL}
